
/**
 * Theme adjustments
 */
h2 {
    margin-top: 48px;
}

.wrapper {
    max-width: 1100px;
}



/**
 * Additions
 */
i.asterisk {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 0.5em;

    &::after {
        content: '\2732';
        position: absolute;
        top: -0.5em;
        left: 0;
        font-size: 0.6em;
    }
}